/*
    Styling of the 'light switch' component - it modifies the base 'device-card' styles
    Also styles the switch control
*/

.light-card {
    background-color: #ffffff !important;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    .card__body {
        padding: 0px;
        margin: 3px;
        justify-content: space-around;
    }
    &:hover {
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    }
}

.card__body--lightIcon {
    svg {
        &.active {
            color: #FFC107;
        }
        &.inactive {
            color: #5d5d5d;
        }
    }
}

.card__body--content {
    span {
        &.active {
            color: #103875;
        }
        &.inactive {
            color: #5d5d5d;
        }
    }
}

.react-switch-bg {
    border-radius: 5px !important;
}

.react-switch-handle {
    border-radius: 5px !important;
    height: 24px !important;
    width: 24px !important;
    top: 2px !important;
    left: 1px;
}

@media (min-width: 990px) {
    .light-card {
        width: 20%;
        .card__body {
            padding: 0px 1rem;
            justify-content: space-between;
        }
    }
}

@media screen and (min-width: 760px) and (max-width: 990px) {
    .light-card {
        max-width: 30%;
    }
}