// Colors
$light-primary: #C5CAE9;
$primary-color: #103875;
$primary-text: #6a6a6a;
$secondary-text: #bfc0bf;
$divider-color: #bdbdbd;
$error-color: #D32F2F;
//Font size
$font-size-large: 1.8rem;
$font-size-small: 1.4rem;
// Spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;